body{
    font-family: serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: serif;
}

.container{
    width: 80%;
    margin: 900px;
    margin: 20px auto;
}

div {
    margin: 0px 0px 30px 0px;
}

.one {
    background: purple;
}

.two{
    background:blue;
}
.three{
    border: 1px solid black;
}

.out-1 {
    background: green;
}

.bg2{
    background: red;
}